// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR SCHEME 1
$mint: #E4FDE1;
$seafoam: #8ACB88;
$gold: #FE9920;
$orange: #FF4E00;
$grey: #384D48;

// COLOR SCHEME 2
$olive: #576D37;
$brown: #5D3A00;
$forest: #2F4B26;
$yellow: #E9CE2C;
$coral: #D35930;

// COLOR SCHEME 3
$grey-brown: #6B6456;
$army: #3E5641;
$peach: #EF946C;
$gold-yellow: #DB8E01;
$bright-orange: #F1511C;


@font-face {
  font-family: 'Bebas';
  // src:font-url('/app/assets/fonts/bebas.ttf');
  src:font-url('bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica';
  // src:font-url('/app/assets/fonts/coolvetica.ttf');
  src:font-url('/app/assets/fonts/coolvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'intrique-script';
  // src:font-url('/app/assets/fonts/intrique-script.ttf');
  src:font-url('intrique-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league-gothic';
  src:font-url('league-gothic/leaguegothic-regular-webfont.eot');
  src:font-url('league-gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('league-gothic/leaguegothic-regular-webfont.svg') format('svg'),
    font-url('league-gothic/leaguegothic-regular-webfont.woff') format('woff'),
    font-url('league-gothic/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league-script';
  src:font-url('league-script/LeagueScriptNumberOne-webfont.eot');
  src:font-url('league-script/LeagueScriptNumberOne-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('league-script/LeagueScriptNumberOne-webfont.svg') format('svg'),
    font-url('league-script/LeagueScriptNumberOne-webfont.woff') format('woff'),
    font-url('league-script/LeagueScriptNumberOne-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich-bold';
  src:font-url('ostrich-bold/ostrich-sans-bold.eot');
  src:font-url('ostrich-bold/ostrich-sans-bold.eot?#iefix') format('embedded-opentype'),
    font-url('ostrich-bold/ostrich-sans-bold.svg') format('svg'),
    font-url('ostrich-bold/ostrich-sans-bold.woff') format('woff'),
    font-url('ostrich-bold/ostrich-sans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich-reg';
  src:font-url('ostrich-reg/ostrich-sans-black.eot');
  src:font-url('ostrich-reg/ostrich-sans-black.eot?#iefix') format('embedded-opentype'),
    font-url('ostrich-reg/ostrich-sans-black.svg') format('svg'),
    font-url('ostrich-reg/ostrich-sans-black.woff') format('woff'),
    font-url('ostrich-reg/ostrich-sans-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html{
  width: 100%;
  height: 100%;
}
.container{
  background-color: $mint;
  width: 100%;
  height: 100%;
}
// BACKGROUND VIDEO
.hero-vid{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 105px;
  margin-bottom: -105px;
  overflow: hidden;
  #big-video-wrap{
    position: absolute;
  }
}
.vjs-hidden{
	display: none;
}
body{
	background-color: #fff;
	margin: 0px;
}

// NAVIGATION
header{
	position: relative;
	text-align: center;
	height: 105px;
	width: 100%;
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);


		.large-text{
			font-family: 'ostrich-reg';
			font-size: 40px;
			line-height: 30px;
			text-transform: uppercase;
			margin: 0px;
			letter-spacing: 4px;
      color: $peach;
		}
		.for{
			font-family: 'league-script';
			font-size: 30px;
			line-height: 20px;
			margin: 0px;
			margin-top: -4px;
      color: $bright-orange;
		}
	}
  nav{
    font-family: 'ostrich-reg';
  }
  .desktop-nav{
    a{
      font-size: 22px;
      margin-top: 15px;
    }
    .left-nav{
      float: left;
    }
    .right-nav{
      float: right;
    }
  }
}



// SIGNIN
.form-wrapper{
  font-family: "bebas";
  letter-spacing: 1px;
  text-align: center;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'league-gothic';
    font-size: 60px;
    line-height: 60px;
    margin: 50px 0px 0px;
    // letter-spacing: 4px;
    color: $coral;
  }
  ::-webkit-input-placeholder {
     color: $mint;
     font-family: 'league-gothic';
     letter-spacing: 2px;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $mint;
     font-family: 'league-gothic';
     letter-spacing: 2px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $mint;
     font-family: 'league-gothic';
     letter-spacing: 2px;
  }

  :-ms-input-placeholder {
     color: $mint;
     font-family: 'league-gothic';
     letter-spacing: 2px;
  }
  input{

    background-color: $seafoam;
    color: $mint;
    border: 2px solid $seafoam;
    &:focus{
      border-color: $coral;
      background-color: $seafoam;
    }
  }
  .actions{
    text-align: center;
  }
  .submit-button{
    background-color: $mint;
    border: 2px solid $coral;
    color: $coral;
    font-family: "bebas";
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .4s ease;
    margin: 15px 0px;
    &:hover{
      color: $mint;
      background-color: $coral;
      transition: all .4s ease;
    }
  }
  .forgot-pw{
    color: $coral;
    text-align: center;
  }
}